# Info
NAME=Digital Library

# Database
MONGODB_URI

# Session
SESSION_SECRET

# JWT
JWT_SECRET
JWT_EXPIRES_IN

# Server Configuration
PORT
NODE_ENV=dev

# Frontend URLs
FRONTEND_URL=http://localhost:4200

# Admin Credentials
ADMIN_NAME
ADMIN_LASTNAME
ADMIN_EMAIL
ADMIN_PASSWORD

# Email credentials
MAIL_HOST
MAIL_PORT
MAIL_USER
OLD_MAIL_USER
OLD_MAIL_PASS
MAIL_PASS

# Book config
DEFAULT_PAGE=1
DEFAULT_LIMIT=8

# Review config
DEFAULT_REVIEW_PAGE=1
DEFAULT_REVIEW_LIMIT=5
